Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add external_id_type field to language_entity_sources and region_sources tables
  supabase/migrations/20250729134515_add_external_id_type_to_sources_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: added deno config for functions testing
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  docs/language-data-seeding-plan.md
  eslint.config.js
  jest.config.js
  scripts/test-bible-package-chunking.js
  scripts/test-chunked-series-download.js
  supabase/functions/_shared/bible-package-builder.ts
  supabase/functions/_shared/image-validation.ts
  supabase/functions/create-bible-package/index.ts
  supabase/functions/create-package-series/index.ts
  supabase/functions/deno.json
  supabase/functions/deno.lock
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  tests/__mocks__/deno-crypto.ts
  tests/integration/multi-package-system.test.ts
  tests/unit/bible-package-builder.test.ts
  tests/unit/bible-package-splitter.test.ts
Due: eslint --fix, prettier --write

fix: added supabase db password to deploy workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat: powersync setup
  assets/data/languages/grn/mapping_plan_rolv.md
  assets/data/languages/iso639-3/mapping_plan_iso-639-3.md
  docs/language-data-seeding-plan.md
  supabase/migrations/20250730130706_setup_powersync.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: add search_path = public to all functions to fix security warnings
  supabase/migrations/20250731030216_fix_function_search_path_security.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: optimize database performance
  supabase/migrations/20250731030805_optimize_auth_rls_performance.sql
  supabase/migrations/20250731030955_consolidate_permissive_policies.sql
  supabase/migrations/20250731031133_add_foreign_key_indexes.sql
  supabase/migrations/20250731031348_remove_unused_indexes.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: corrective migration for performance optimization issues
  supabase/migrations/20250731033222_fix_performance_issues_corrective.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: corrective migration for search path security issue
  supabase/migrations/20250731033856_fix_function_search_path_security_corrective.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

perf: comprehensive fix for critical performance issues
  supabase/migrations/20250731034536_fix_function_search_path_security_corrective.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

perf: comprehensive fix for critical performance issues
  supabase/migrations/20250731035226_fix_function_search_path_security_corrective.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

perf: fix remaining critical performance issues - final migration
  supabase/migrations/20250731035923_fix_remaining_performance_issues_final.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve parameter naming conflicts in hierarchy functions
  .cursor/rules/instructions.mdc
  .gitignore
  docs/fuzzy-search-implementation-guide.md
  supabase/migrations/20250731045223_enable_fuzzy_search_system.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed type mismatch in fuzzy search function:
  supabase/migrations/20250731061403_fix_fuzzy_search_type_mismatch.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: deduplication for fuzzy search functions
  docs/fuzzy-search-implementation-guide.md
  supabase/migrations/20250731062603_implement_server_side_deduplication_and_regions.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: optimize fuzzy search performance
  scripts/seed_sql_generation/generate-regions-seeds.js
  supabase/migrations/20250731104716_drop_old_fuzzy_search_function_overloads.sql
  supabase/migrations/20250731111026_optimize_fuzzy_search_performance_and_fix_alias_matching.sql
  supabase/seed/production/10_regions/00_import_all.sql
  supabase/seed/production/10_regions/01_regions_hierarchy.sql
  supabase/seed/production/10_regions/02_regions_countries.sql
  supabase/seed/production/10_regions/03_region_sources.sql
  supabase/seed/production/10_regions/04_region_aliases.sql
  supabase/seed/production/10_regions/05_region_properties.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: optimise fuzzy search - fixed from previous
  supabase/migrations/20250731111026_optimize_fuzzy_search_performance_and_fix_alias_matching.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed deno type checking
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  supabase/functions/_shared/auth-middleware.ts
  supabase/functions/_shared/upload-orchestrator.ts
  supabase/functions/create-bible-package/index.ts
  supabase/functions/create-package-series/index.ts
  supabase/functions/download-bible-package/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/functions/upload-image/index.ts
  tests/unit/image-service.test.ts
  tests/unit/image-validation.test.ts
Due: eslint --fix, prettier --write

feat: added b2 cors config to CICD
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backblaze/deployment/configure-cors.js
  backblaze/deployment/cors-config-dev.json
  backblaze/deployment/cors-config-prod.json
  docs/current-to-do.md
  docs/fuzzy-search-implementation-guide.md
  scripts/api_tests/test-get-upload-urls.js
  tests/integration/get-upload-urls/basic-functionality.test.ts
Due: eslint --fix, prettier --write

fix: fixed deployment of b2 buckets
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backblaze/deployment/b2-cli-cors-rules-prod.json
  backblaze/deployment/b2-cli-cors-rules.json
  backblaze/deployment/configure-cors.js
  backblaze/deployment/cors-config-dev.json
  backblaze/deployment/cors-config-prod.json
  backblaze/deployment/deploy-cors-ci.sh
  docs/current-to-do.md
Due: eslint --fix, prettier --write

feat: restructure playlist schema structure
  supabase/migrations/20250804102809_playlist_schema_restructure.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: rls policies on playlists table
  supabase/migrations/20250804102809_playlist_schema_restructure.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed powersync role creation
  supabase/migrations/20250730130706_setup_powersync.sql
  supabase/migrations/20250805093407_add_anon_user_support_to_user_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added supabase prod db password to publish types package
  .github/workflows/publish-types.yml
Due: prettier --write

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.13
  package-lock.json
  package.json
Due: prettier --write

feat: added fuzzy search for languages with versions
  docs/fuzzy-search-api-guide.md
  supabase/migrations/20250805110918_add_flexible_version_filtered_language_search.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed ambiguous entity_id search string
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  docs/email-setup-guide.md
  docs/fuzzy-search/fuzzy-search-api-guide.md
  docs/fuzzy-search/hierarchy-api-guide.md
  scripts/seed_sql_generation/generate-regions-seeds.js
  supabase/config.toml
  supabase/migrations/20250806024519_fix_ambiguous_column_references_in_search_function.sql
  supabase/seed/production/10_regions/01_regions_hierarchy.sql
  supabase/seed/production/10_regions/02_regions_countries.sql
  supabase/seed/production/10_regions/03_region_sources.sql
  supabase/seed/production/10_regions/04_region_aliases.sql
  supabase/seed/production/10_regions/05_region_properties.sql
  supabase/templates/confirmation.html
  supabase/templates/email_change.html
  supabase/templates/invite.html
  supabase/templates/magic_link.html
  supabase/templates/recovery.html
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: remove problematic remotes config causing CI/CD failure
  docs/fuzzy-search/fuzzy-search-api-guide.md
  supabase/config.toml.backup
Due: prettier --write

chore: bump version to 1.0.14
  package-lock.json
  package.json
Due: prettier --write

feat: set up sms verification
  supabase/config.toml.backup2
Due: none

feat: add supabase config push to CI/CD deployment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix: properly substitute environment variables in config deployment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  scripts/deploy-config.sh
Due: prettier --write

chore: enabled email and phone verification
  supabase/config.toml
Due: none

chore: enabled phone confirmation
  supabase/config.toml
Due: none

fix: removed duplicate enable_confirmations
  supabase/config.toml
Due: none

feat: add anonymous user support to RLS policies
  supabase/migrations/20250807000000_update_rls_policies_for_anonymous_users.sql
  supabase/templates/confirmation.html
  supabase/templates/email_change.html
  supabase/templates/invite.html
  supabase/templates/magic_link.html
  supabase/templates/recovery.html
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash: any of: *.sql
