Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.7
  package-lock.json
  package.json
Due: prettier --write

feat: add comprehensive RLS policies and B2 upload testing
  .env.example
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate_complete_bible.py
  supabase/config.toml
  supabase/functions/_shared/b2-service.ts
  supabase/functions/get-media/index.ts
  supabase/functions/upload-media/index.ts
  supabase/migrations/20250705070000_add_chapter_listens_analytics.sql
  supabase/migrations/20250706070000_add_missing_rls_policies.sql
  supabase/seed/01_seed_users.sql
  supabase/seed/02_seed_languages_regions.sql
  supabase/seed/Rosa John 1.m4a
  supabase/seed/bible_chunks/01_bible_version_books.sql
  supabase/seed/bible_chunks/02_all_chapters.sql
  supabase/seed/bible_chunks/03_verses_000001_005000.sql
  supabase/seed/bible_chunks/99_refresh_global_orders.sql
  supabase/seed/seed_users_instructions.md
  test_upload.cjs
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: removed bad rls policies
  supabase/migrations/20250706070000_add_missing_rls_policies.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: removed bad rls policies pt 2
  supabase/migrations/20250706070000_add_missing_rls_policies.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added created_by field to playlist_groups
  supabase/migrations/20250705200000_add_created_by_to_tables
Due: none

fix: changed timestamps for migrations
  supabase/migrations/20250706070000_add_created_by_to_tables
  supabase/migrations/20250707070000_add_missing_rls_policies.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added .sql prefix to migration
  supabase/migrations/20250706070000_add_created_by_to_tables
  supabase/migrations/20250706070000_add_created_by_to_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added created_by to other tables migration
  supabase/migrations/20250706070000_add_created_by_to_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added created_by to other tables migration second one
  supabase/migrations/20250706070000_add_created_by_to_playlist_groups.sql
  supabase/migrations/20250706200000_add_created_by_to_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: removed created_by for segments as its already there
  supabase/migrations/20250706200000_add_created_by_to_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: removed created_by for segments_targets as its already there
  supabase/migrations/20250706200000_add_created_by_to_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add comprehensive RLS policies and fix upload functionality
  supabase/functions/upload-media/index.ts
  test_curl.sh
  test_upload.cjs
  test_upload_json.cjs
Due: eslint --fix, prettier --write

feat: complete b2 service refactoring and test infrastructure
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  scripts/dev-tools/test_download.cjs
  scripts/dev-tools/test_upload_json.cjs
  supabase/functions/_shared/b2-auth-service.ts
  supabase/functions/_shared/b2-file-service.ts
  supabase/functions/_shared/b2-service.ts
  supabase/functions/_shared/b2-storage-service.ts
  supabase/functions/_shared/b2-stream-service.ts
  supabase/functions/_shared/b2-utils.ts
  supabase/functions/_shared/media-service.ts
  supabase/functions/_shared/media-validation.ts
  supabase/functions/_shared/request-parser.ts
  supabase/functions/download-media/index.ts
  supabase/functions/get-media/index.ts
  supabase/functions/tsconfig.json
  supabase/functions/upload-media/index.ts
  supabase/seed/Rosa John 1.m4a
  test_curl.sh
  test_upload.cjs
  test_upload_json.cjs
  tests/integration/media-upload/basic-upload.test.ts
  tests/integration/media-upload/filename-robustness.test.ts
  tests/setup.ts
  tests/unit/b2-auth-service.test.ts
  tests/unit/b2-file-service.test.ts
  tests/unit/b2-storage-service.test.ts
  tests/unit/b2-stream-service.test.ts
  tests/unit/b2-utils.test.ts
  tests/unit/media-service.test.ts
  tests/unit/media-validation.test.ts
  types/README.md
  types/database.d.ts
Due: eslint --fix, prettier --write

feat: convert Bible table IDs from UUID to TEXT for human-readable references
  jest.config.js
  scripts/dev-tools/test_upload_json.cjs
  scripts/generate_complete_bible.py
  supabase/config.toml
  supabase/functions/_shared/media-service.ts
  supabase/functions/_shared/request-parser.ts
  supabase/functions/upload-media/index.ts
  supabase/migrations/20250713100506_convert_bible_ids_to_text.sql
  supabase/seed/01_users/01_seed_test_users.sql
  supabase/seed/02_languages_regions/02_seed_test_languages_regions.sql
  supabase/seed/03_bible_chunks/01_bible_version_books.sql
  supabase/seed/03_bible_chunks/02_all_chapters.sql
  supabase/seed/03_bible_chunks/03_verses_000001_005000.sql
  supabase/seed/03_bible_chunks/99_refresh_global_orders.sql
  supabase/seed/seed_users_instructions.md
  tests/integration/media-upload/basic-upload.test.ts
  tests/integration/media-upload/filename-robustness.test.ts
  tests/unit/b2-auth-service.test.ts
  tests/unit/b2-storage-service.test.ts
  tests/unit/media-service.test.ts
  tests/unit/media-validation.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add bible audio fields to media_files and remove from target tables
  docs/bible-id-structure.md
  scripts/generate_complete_bible.py
  supabase/migrations/20250713111920_add_bible_audio_field_to_media_files.sql
  supabase/seed/03_bible_chunks/01_bible_version_books.sql
  supabase/seed/03_bible_chunks/02_all_chapters.sql
  supabase/seed/03_bible_chunks/03_verses_000001_005000.sql
  supabase/seed/03_bible_chunks/04_verses_005001_010000.sql
  supabase/seed/03_bible_chunks/05_verses_010001_015000.sql
  supabase/seed/03_bible_chunks/06_verses_015001_020000.sql
  supabase/seed/03_bible_chunks/07_verses_020001_025000.sql
  supabase/seed/03_bible_chunks/08_verses_025001_030000.sql
  supabase/seed/03_bible_chunks/09_verses_030001_031102.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve test failures in bible chapter upload functionality
  scripts/dev-tools/test_bible_chapter_upload.js
  scripts/dev-tools/test_upload_json.cjs
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/_shared/request-parser.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/migrations/20250713123010_rename_text_versions_language_id_to_language_entity_id.sql
  tests/integration/bible-chapter-upload/basic-upload.test.ts
  tests/integration/bible-chapter-upload/filename-robustness.test.ts
  tests/unit/bible-chapter-validation.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: change duration and timing columns to float for better precision
  supabase/migrations/20250713135257_change_duration_columns_to_float.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

refactor: update bible chapter validation and tests
  scripts/dev-tools/test_bible_chapter_upload.js
  supabase/functions/_shared/bible-chapter-validation.ts
  tests/integration/bible-chapter-upload/filename-robustness.test.ts
  tests/unit/bible-chapter-validation.test.ts
Due: eslint --fix, prettier --write

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.8
  package-lock.json
  package.json
Due: prettier --write

feat: add comprehensive image upload system
  docs/image-upload-api.md
  scripts/dev-tools/test_image_upload.js
  supabase/config.toml
  supabase/functions/_shared/image-service.ts
  supabase/functions/_shared/image-validation.ts
  supabase/functions/upload-image/.npmrc
  supabase/functions/upload-image/deno.json
  supabase/functions/upload-image/index.ts
  supabase/migrations/20250715113319_add_testament_and_image_tables.sql
  tests/integration/image-upload/basic-upload.test.ts
  tests/unit/image-service.test.ts
  tests/unit/image-validation.test.ts
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: fix target_id types from UUID to TEXT and add project_id
  scripts/dev-tools/test_bible_chapter_upload.js
  scripts/dev-tools/test_image_upload.js
  scripts/dev-tools/test_image_upload_simple.js
  supabase/functions/_shared/b2-utils.ts
  supabase/migrations/20250716000000_fix_target_id_types_and_add_project_id.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add version and publish_status columns to images and verse_texts tables
  scripts/dev-tools/test_image_upload_simple.js
  supabase/functions/_shared/b2-utils.ts
  supabase/migrations/20250716091122_add_version_and_publish_status_to_images_and_verse_texts.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve TypeScript errors and improve type safety
  supabase/functions/_shared/b2-auth-service.ts
  supabase/functions/_shared/b2-file-service.ts
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/_shared/image-validation.ts
  supabase/functions/_shared/media-service.ts
  supabase/functions/_shared/media-validation.ts
  supabase/functions/_shared/request-parser.ts
  supabase/functions/deno.d.ts
  supabase/functions/download-media/index.ts
  supabase/functions/tsconfig.json
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/functions/upload-image/index.ts
  supabase/functions/upload-media/index.ts
  tests/integration/bible-chapter-upload/basic-upload.test.ts
  tests/integration/media-upload/basic-upload.test.ts
  tests/integration/media-upload/filename-robustness.test.ts
  tests/unit/bible-chapter-validation.test.ts
Due: eslint --fix, prettier --write

fix: resolve CI type-check failures
  package.json
  tsconfig.json
  types/deno-globals.d.ts
Due: eslint --fix, prettier --write

fix: fixed failing tests for CICD
  supabase/functions/_shared/b2-file-service.ts
  supabase/functions/_shared/b2-utils.ts
  supabase/functions/_shared/bible-chapter-validation.ts
Due: eslint --fix, prettier --write

fix: improve File API cross-environment compatibility for CI
  supabase/functions/_shared/image-validation.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

chore: add debugging logs to investigate File object behavior in CI
  supabase/functions/_shared/image-validation.ts
Due: eslint --fix, prettier --write

chore: add comprehensive debugging for File object behavior in CI
  supabase/functions/_shared/image-validation.ts
Due: eslint --fix, prettier --write

fix: resolve File API cross-environment compatibility for CI
  supabase/functions/_shared/image-validation.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: make image validation test resilient to File constructor differences
  tests/unit/image-validation.test.ts
Due: eslint --fix, prettier --write

fix: fix failing CI test
  tests/unit/image-validation.test.ts
Due: eslint --fix, prettier --write

feat: make text_version_id nullable on verse_texts table
  supabase/migrations/20250717113815_make_text_version_id_nullable_on_verse_texts.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve failing ImageService tests and improve mock setup
  supabase/functions/_shared/image-service.ts
  supabase/functions/_shared/media-service.ts
  supabase/functions/_shared/user-service.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/functions/upload-image/index.ts
  tests/unit/image-service.test.ts
  tests/unit/media-service.test.ts
Due: eslint --fix, prettier --write

fix: fixed updating of media_file record in upload_bible_chapter method
  supabase/functions/upload-bible-chapter-audio/index.ts
  tests/unit/image-service.test.ts
Due: eslint --fix, prettier --write

feat: added upload and download bible chapter audio functions
  docs/bulk-upload-implementation-guide.md
  docs/frontend-implementation-bulk-chapter-audio.md
  docs/frontend-implementation-shared-architecture.md
  docs/frontend-implementation-single-chapter-audio.md
  supabase/functions/_shared/auth-middleware.ts
  supabase/functions/_shared/b2-file-service.ts
  supabase/functions/_shared/b2-stream-service.ts
  supabase/functions/_shared/bible-audio-service.ts
  supabase/functions/_shared/bible-chapter-database.ts
  supabase/functions/_shared/image-validation.ts
  supabase/functions/_shared/response-utils.ts
  supabase/functions/_shared/upload-orchestrator.ts
  supabase/functions/download-bible-chapter-audio-bulk/index.ts
  supabase/functions/download-bible-chapter-audio/index.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/functions/upload-image/.npmrc
  supabase/functions/upload-image/deno.json
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: removed bulk download function
  docs/frontend-implementation-bulk-chapter-audio.md
  supabase/functions/download-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
Due: eslint --fix, prettier --write

fix: removed deno.json from upload-image folder dependency
  supabase/config.toml
Due: none

fix: removed debugging from bulk bible function
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
Due: eslint --fix, prettier --write

feat: optimize Bible audio downloads with presigned URLs
  docs/bible-audio-download-api.md
  docs/bible-audio-quick-start.md
  docs/frontend-implementation-shared-architecture.md
  docs/frontend-implementation-single-chapter-audio.md
  supabase/functions/_shared/bible-audio-service.ts
  supabase/functions/download-bible-chapter-audio/index.ts
  supabase/functions/get-download-urls/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash: any of: *.sql
