Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": "bash -c 'for file in \"$@\"; do sql-formatter --config .sqlformatterrc.json --fix \"$file\"; done' bash",
  "types/database.{ts,d.ts,js}": []
}

feat: added cloudflare cors policy setup
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  cloudflare/cors/apply-cors.sh
  cloudflare/cors/dev-cors-policy.json
  cloudflare/cors/prod-cors-policy.json
Due: prettier --write

fix: cicd deploy cors
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix: workflow dispatch delete
  .github/workflows/deploy-dev.yml
Due: prettier --write

fix: new r2 key
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  cloudflare/cors/apply-cors.sh
Due: prettier --write

chore: added OPTIONS to cors
  cloudflare/cors/dev-cors-policy.json
  cloudflare/cors/prod-cors-policy.json
Due: prettier --write

fix: restore close-session functino
  cloudflare/cors/dev-cors-policy.json
  cloudflare/cors/prod-cors-policy.json
  cloudflare/sqlite-package-api/src/index.ts
  cloudflare/sqlite-package-api/src/sqlite-builder.ts
  cloudflare/sqlite-package-api/src/sqljs-loader.ts
  cloudflare/sqlite-package-api/wrangler.toml
  supabase/functions/close-session/index.ts
Due: eslint --fix, prettier --write

fix: cloudflare worker deployment
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix: removed sqlite worker
  cloudflare/sqlite-package-api/package-lock.json
  cloudflare/sqlite-package-api/package.json
  cloudflare/sqlite-package-api/src/index.ts
  cloudflare/sqlite-package-api/src/sqlite-builder.ts
  cloudflare/sqlite-package-api/tsconfig.json
  cloudflare/sqlite-package-api/wrangler.toml
Due: eslint --fix, prettier --write

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.18
  package-lock.json
  package.json
Due: prettier --write

feat: added recommend language versions function
  docs/current-to-do.md
  supabase/migrations/20250819045134_recommend_language_versions_function.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: improved analytics function - error handling, location code enrichment
  eslint.config.js
  supabase/functions/ingest-analytics/index.ts
Due: eslint --fix, prettier --write

feat: update schema to store original filename and filetype
  scripts/api_tests/test_get_upload_urls_by_id.cjs
  supabase/functions/_shared/storage-utils.ts
  supabase/functions/get-upload-urls-by-id/index.ts
  supabase/migrations/20250822025340_add_original_filename_columns.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.19
  package-lock.json
  package.json
Due: prettier --write

fix: head requests cloudflare cdn worker
  cloudflare/cdn-worker/src/index.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.20
  package-lock.json
  package.json
Due: prettier --write

fix: change share_entity_id to text
  supabase/functions/get-upload-urls-by-id/index.ts
  supabase/migrations/20250830125216_change_shares_share_entity_id_to_text.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: remove device_id from sessions required field in ingest-analytics
  supabase/functions/ingest-analytics/index.ts
Due: eslint --fix, prettier --write

feat: backfill app download id in ingest-analytics
  supabase/functions/ingest-analytics/index.ts
Due: eslint --fix, prettier --write

feat: added rls to sessions
  supabase/migrations/20250831103414_allow_users_update_own_sessions.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: close open sessions for user
  supabase/functions/close-session/index.ts
Due: eslint --fix, prettier --write

fix: renamed origin share id to parent share id, dropped fkey to share id to handle edge cases
  supabase/migrations/20250902011605_drop_share_opens_share_id_fk.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add aggregate views for bible progress
  docs/materialized-views-progress-plan.md
  scripts/db_tests/progress_views_test.sql
  supabase/migrations/20250905195216_progress_views_and_indexes.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: materialized views for aggregate bible data
  scripts/db_tests/progress_materialized_views_test.sql
  scripts/db_tests/progress_views_extra_seed.sql
  supabase/migrations/20250905201610_progress_materialized_views.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: language listening data heatmaps
  cloudflare/cdn-worker/wrangler.toml
  cloudflare/package-api/package.json
  cloudflare/package-api/wrangler.toml
  docs/current-to-do.md
  docs/email-setup-guide.md
  docs/map-portal-stats/frontend-progress-guide.md
  docs/map-portal-stats/materialized-views-progress-plan.md
  docs/map-portal-stats/progress-coverage-and-refresh.md
  scripts/db_tests/analytics_language_heatmaps_test.sql
  supabase/functions/refresh-progress/index.ts
  supabase/migrations/20250905203718_progress_refresh_queue_and_triggers.sql
  supabase/migrations/20250905204357_progress_refresh_queue_fallback.sql
  supabase/migrations/20250905210942_progress_drain_delete_where_clause.sql
  supabase/migrations/20250906054259_analytics_views_language_heatmaps_and_stats.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed heirachy functions
  docs/fuzzy-search/hierarchy-api-guide.md
  docs/map-portal-stats/frontend-analytics-guide.md
  supabase/migrations/20250906152312_fix_hierarchy_functions.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: get country from point RPC
  cloudflare/package-api/package-lock.json
  docs/sharing/06-api-specifications.md
  scripts/db_tests/regions_point_lookup_test.sql
  supabase/migrations/20250906185732_add_rpc_get_region_by_point.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: optimised RPCs for bbox server side calculation
  supabase/migrations/20250906233020_add_region_spatial_cache_and_rpcs.sql
  supabase/migrations/20250906233849_fix_region_spatial_cache_multipoly.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: multipolygon
  supabase/migrations/20250906233020_add_region_spatial_cache_and_rpcs.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: utf character encoding for aliases
  scripts/seed_sql_generation/generate-regions-seeds.js
  supabase/migrations/20250907013831_fix_region_aliases_mojibake.sql
  supabase/seed/production/10_regions/01_regions_hierarchy.sql
  supabase/seed/production/10_regions/02_regions_countries.sql
  supabase/seed/production/10_regions/03_region_sources.sql
  supabase/seed/production/10_regions/04_region_aliases.sql
  supabase/seed/production/10_regions/05_region_properties.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: utf char
  supabase/migrations/20250907013831_fix_region_aliases_mojibake.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: function to correct aliases
  supabase/migrations/20250907013831_fix_region_aliases_mojibake.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: mojibake function
  package.json
  supabase/migrations/20250907020731_fix_region_aliases_mojibake_pass2.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: mojibake 2
  supabase/migrations/20250906233020_add_region_spatial_cache_and_rpcs.sql
  supabase/migrations/20250907022451_fix_aliases_mojibake_universal.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: language analytics, add country codes downloads
  scripts/db_tests/regions_point_lookup_test.sql
  supabase/functions/ingest-analytics/index.ts
  supabase/migrations/20250908070408_add_language_analytics_by_country_views.sql
  supabase/migrations/20250908071322_drop_legacy_get_region_by_point.sql
  supabase/migrations/20250908220412_add_country_codes_to_app_downloads_and_country_from_point.sql
  supabase/migrations/20250909041050_drop_non_summary_progress_mvs.sql
  supabase/migrations/20250909042023_fix_aliases_mojibake_per_char.sql
  supabase/migrations/20250909042855_add_analytics_materialized_views_by_country.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: function to get all listens across a country
  supabase/migrations/20250909054858_add_country_language_listens_heatmap_view.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add region id to country language listens heatmap
  docs/current-to-do.md
  supabase/migrations/20250909214517_add_region_id_to_country_language_listens_heatmap_view.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash
