Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.9
  package-lock.json
  package.json
Due: prettier --write

feat: add user_saved_versions table with FK constraints
  docs/current-to-do.md
  scripts/dev-tools/test_image_upload.js
  supabase/functions/_shared/b2-utils.ts
  supabase/functions/_shared/image-service.ts
  supabase/functions/_shared/image-validation.ts
  supabase/functions/upload-image/index.ts
  supabase/migrations/20250721084051_create_user_saved_versions_table.sql
  tests/unit/image-service.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add audio_versions table and update edge functions
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/migrations/20250721110716_add_audio_versions_table.sql
  tests/integration/bible-chapter-upload/basic-upload.test.ts
  tests/integration/bible-chapter-upload/filename-robustness.test.ts
  tests/unit/bible-chapter-validation.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: changed bible version id ref to text
  supabase/migrations/20250721110716_add_audio_versions_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.10
  package-lock.json
  package.json
Due: prettier --write

refactor: clean up edge functions and enhance test coverage
  docs/bible-audio-download-api.md
  docs/bible-audio-quick-start.md
  docs/bible-id-structure.md
  docs/bulk-upload-implementation-guide.md
  docs/image-upload-api.md
  docs/offline-bible-distribution-implementation-plan.md
  scripts/dev-tools/test_get_download_urls_bulk.cjs
  scripts/dev-tools/test_upload_json.cjs
  scripts/generate_complete_bible.py
  supabase/config.toml
  supabase/functions/_shared/b2-file-service.ts
  supabase/functions/_shared/image-service.ts
  supabase/functions/_shared/media-service.ts
  supabase/functions/download-media/index.ts
  supabase/functions/get-download-urls/index.ts
  supabase/functions/upload-image/index.ts
  supabase/functions/upload-media/index.ts
  supabase/migrations/20250724115034_schema_improvements_remove_local_path_update_fkeys.sql
  supabase/migrations/20250724120750_remove_remote_path_and_project_ids.sql
  tests/integration/get-download-urls/basic-functionality.test.ts
  tests/integration/image-upload/basic-upload.test.ts
  tests/integration/media-upload/basic-upload.test.ts
  tests/integration/media-upload/filename-robustness.test.ts
  tests/unit/media-service.test.ts
  tests/unit/media-validation.test.ts
  tests/unit/response-utils.test.ts
  tests/unit/user-service.test.ts
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.11
  package-lock.json
  package.json
Due: prettier --write

feat: add RLS delete policy for media_files_verses
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/migrations/20250724144238_add_delete_policy_media_files_verses.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve critical bulk upload bugs - add missing audioVersionId and chapterId
  scripts/dev-tools/test_bulk_upload.js
  supabase/functions/_shared/bible-chapter-database.ts
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
Due: eslint --fix, prettier --write

fix: remove project_id references - field doesn't exist in media_files table
  scripts/dev-tools/test_bulk_upload.js
  supabase/functions/_shared/bible-chapter-database.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
Due: eslint --fix, prettier --write

fix: remove remaining projectId references from database operations
  supabase/functions/_shared/upload-orchestrator.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
Due: eslint --fix, prettier --write

fix: removed final references to projectid
  docs/current-to-do.md
  scripts/dev-tools/test_bulk_upload.js
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/_shared/media-validation.ts
  supabase/functions/_shared/request-parser.ts
Due: eslint --fix, prettier --write

fix: add field name conversion in bulk upload to match validation interface
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
Due: eslint --fix, prettier --write

feat: add DELETE policy for verse_texts table
  supabase/migrations/20250726075859_add_delete_policy_verse_texts.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: implement split bulk upload system with real-time progress
  docs/bulk-upload-frontend-implementation.md
  supabase/functions/initiate-bulk-upload/index.ts
  supabase/functions/process-bulk-upload-queue/index.ts
  supabase/functions/upload-file-to-queue/index.ts
  supabase/migrations/20250125000000_create_upload_queue_table.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: remove project_id references and fix failing tests
  docs/conventions/bible-structure-guide.md
  docs/planning/project-setup-checklist.md
  docs/sharing/01-requirements-and-architecture.md
  docs/sharing/02-bible-package-format.md
  docs/sharing/03-backend-implementation.md
  docs/sharing/04-frontend-implementation.md
  docs/sharing/05-database-sync-strategy.md
  docs/sharing/06-api-specifications.md
  docs/sharing/07-testing-performance-guide.md
  docs/sharing/README.md
  supabase/functions/_shared/bible-chapter-validation.ts
  supabase/functions/_shared/request-parser.ts
  supabase/migrations/20250726075860_create_upload_queue_table.sql
  tests/integration/bible-chapter-upload/basic-upload.test.ts
  tests/integration/bulk-upload/initiate-bulk-upload.test.ts
  tests/integration/bulk-upload/process-bulk-upload-queue.test.ts
  tests/integration/bulk-upload/upload-file-to-queue.test.ts
  tests/unit/bible-chapter-database.test.ts
  tests/unit/media-validation.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: updated initiate bulk upload function
  .cursor/rules/instructions.mdc
  scripts/dev-tools/test_get_download_urls_bulk.cjs
  supabase/functions/initiate-bulk-upload/index.ts
Due: eslint --fix, prettier --write

fix: update upload_queue RLS policies to properly reference public.users table
  supabase/migrations/20250726094508_fix_upload_queue_rls_policies.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: drop upload queue table fix
  docs/ai-agent-implementation-checklist.md
  docs/frontend-integration-guide-for-ai.md
  docs/improved-bulk-upload-system.md
  supabase/functions/get-upload-progress/index.ts
  supabase/functions/initiate-bulk-upload/index.ts
  supabase/functions/process-bulk-upload-queue/index.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-file-to-queue/index.ts
  supabase/migrations/20250726101721_drop_upload_queue_table.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: removed upload queue migrations
  .cursor/rules/instructions.mdc
  supabase/migrations/20250726075860_create_upload_queue_table.sql
  supabase/migrations/20250726094508_fix_upload_queue_rls_policies.sql
  supabase/migrations/20250726101721_drop_upload_queue_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: added migrations back
  supabase/migrations/20250726075860_create_upload_queue_table.sql
  supabase/migrations/20250726094508_fix_upload_queue_rls_policies.sql
  supabase/migrations/20250726101721_drop_upload_queue_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: migrations
  supabase/migrations/20250726101721_drop_upload_queue_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: migrations fix 3
  supabase/migrations/20250726101721_drop_upload_queue_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: changed query in get-upload-progress
  supabase/functions/get-upload-progress/index.ts
Due: eslint --fix, prettier --write

feat: implement Bible package export system
  docs/bible-package-implementation-guide.md
  scripts/test-bible-package-creation.js
  supabase/functions/_shared/bible-package-builder.ts
  supabase/functions/_shared/bible-package-types.ts
  supabase/functions/_shared/package-queries.ts
  supabase/functions/create-bible-package/index.ts
  supabase/functions/download-bible-package/index.ts
Due: eslint --fix, prettier --write

fix: resolve Bible package export issues and add working test
  scripts/test-bible-package-creation-fixed.js
  supabase/functions/_shared/bible-package-builder.ts
  supabase/functions/_shared/response-utils.ts
Due: eslint --fix, prettier --write

refactor: replace broken test script with working version
  .cursor/rules/instructions.mdc
  docs/ai-agent-implementation-checklist.md
  docs/bulk-upload-frontend-implementation.md
  docs/current-to-do.md
  docs/frontend-integration-guide-for-ai.md
  docs/improved-bulk-upload-system.md
  docs/offline-bible-distribution-implementation-plan.md
  scripts/test-bible-package-creation-fixed.js
  scripts/test-bible-package-creation.js
  supabase/functions/create-bible-package/index.ts
Due: eslint --fix, prettier --write

fix: critical bible package export now working with audio files
  scripts/test-b2-service.js
  scripts/test-bible-package-diagnostics.js
  scripts/test-debug-package.js
  scripts/test-package-builder-download.js
  scripts/test-quick-audio-package.js
  scripts/test-single-audio-download.js
  supabase/functions/_shared/bible-package-builder.ts
  supabase/functions/_shared/package-queries.ts
  supabase/functions/debug-bible-package/index.ts
  supabase/functions/download-bible-package/index.ts
Due: eslint --fix, prettier --write

docs: comprehensive bible package implementation documentation
  docs/bible-package-implementation-status.md
  docs/bible-package-scalability-plan.md
  scripts/test-package-builder-download.js
  scripts/test-quick-audio-package.js
  scripts/test-single-audio-download.js
Due: eslint --fix, prettier --write

feat: added verse_feedback table
  docs/bible-package-scalability-plan.md
  docs/sharing/01-requirements-and-architecture.md
  docs/sharing/02-bible-package-format.md
  docs/sharing/03-backend-implementation.md
  docs/sharing/04-frontend-implementation.md
  docs/sharing/06-api-specifications.md
  docs/sharing/README.md
  supabase/migrations/20250728040103_create_verse_feedback_table.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add verse_feedback table for tracking feedback on media files and verses
  supabase/migrations/20250728040103_create_verse_feedback_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: resolve linter errors and type-check issues
  eslint.config.js
  supabase/functions/_shared/bible-package-builder.ts
  supabase/functions/_shared/bible-package-splitter.ts
  supabase/functions/_shared/bible-package-types.ts
  supabase/functions/_shared/package-queries.ts
  tests/integration/get-download-urls/basic-functionality.test.ts
  tests/unit/bible-chapter-validation.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: bump version to 1.0.12
  package-lock.json
  package.json
Due: prettier --write

feat: implemented package chunking
  docs/current-to-do.md
  scripts/test-debug-package.js
  supabase/functions/create-bible-package/index.ts
  supabase/functions/create-package-series/index.ts
  supabase/functions/debug-bible-package/index.ts
  tests/integration/multi-package-system.test.ts
  tests/unit/bible-package-builder.test.ts
  tests/unit/bible-package-splitter.test.ts
  tests/unit/chunking-logic.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash: any of: *.sql
