Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": "bash -c 'for file in \"$@\"; do sql-formatter --config .sqlformatterrc.json --fix \"$file\"; done' bash",
  "types/database.{ts,d.ts,js}": []
}

feat: add RLS policies for users_anon table
  supabase/migrations/20250808000000_add_users_anon_rls_policies.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: prettier
  supabase/templates/confirmation.html
  supabase/templates/email_change.html
  supabase/templates/invite.html
  supabase/templates/magic_link.html
  supabase/templates/recovery.html
Due: none

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.15
  package-lock.json
  package.json
Due: prettier --write

feat: added user creation trigger
  supabase/migrations/20250806130215_create_user_trigger_on_auth_signup.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: migration order
  supabase/migrations/20250808000001_create_user_trigger_on_auth_signup.sql
  supabase/migrations/20250808000002_fix_users_email_nullable_for_phone_auth.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: made device id nullable
  supabase/migrations/20250808000003_make_device_id_nullable.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: implement two-phase migration to sync user IDs with auth.users.id
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
  supabase/migrations/20250808000005_update_rls_policies_and_drop_auth_uid.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: handle foreign key constraints when updating user IDs in Phase 1 migration
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: add orphaned data cleanup and validation in Phase 1 migration
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add comprehensive logging and error handling to Phase 1 migration
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: implement robust constraint drop/re-add strategy for ID migration
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: add missing media_files_verses_created_by_fkey constraint
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add comprehensive coverage of all created_by foreign key constraints
  supabase/migrations/20250808000004_sync_user_ids_with_auth_ids.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: optimize edge functions for unified user ID system
  docs/current-to-do.md
  supabase/functions/_shared/auth-middleware.ts
  supabase/functions/_shared/image-service.ts
  supabase/functions/_shared/user-service.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/migrations/20250808000007_restructure_user_saved_versions_tables.sql
  tests/unit/user-service.test.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: added views for powersync querying
  supabase/migrations/20250808000008_create_powersync_views_and_indexes.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: added user current selections
  supabase/migrations/20250808000009_add_user_current_selections_table.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: denormalize media files verses for powersync
  supabase/migrations/20250808015517_denormalize_media_files_verses_audio_version.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: fixed redundant lookups in rls policies
  supabase/migrations/20250808092825_fix_redundant_rls_user_lookups.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: breaking change merged users anon to public users
  supabase/migrations/20250808095608_consolidate_users_with_anonymous_flag.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.16
  package-lock.json
  package.json
Due: prettier --write

fix: made user id nullable
  supabase/migrations/20250808161217_update_insert_policies_with_ownership_checks.sql
  supabase/migrations/20250812054920_make_user_id_nullable_in_usage_tables.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: added API for routing of IP address geolocation
  .env.example
  supabase/config.toml
  supabase/functions/ingest-analytics/index.ts
  supabase/migrations/20250813024150_update_analytics_schema_sessions_ip_geo.sql
  supabase/seed/test/01_test_users/01_seed_test_users.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: changed site url to everylanguage
  supabase/config.toml
Due: none

feat: removed legacy analytics columns
  scripts/deploy-config.sh
  supabase/migrations/20250813045534_remove_legacy_analytics_columns.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: refactor bookmarks and playlist items, fix rls policies cleanup
  docs/current-to-do.md
  scripts/deploy-config.sh
  supabase/functions/ingest-analytics/index.ts
  supabase/migrations/20250814070320_rls_cleanup_visibility_and_delete_policies.sql
  supabase/migrations/20250814121438_refactor_bookmarks_playlist_items_and_user_playlists.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: added support for r2, testing cicd
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  eslint.config.js
  supabase/functions/_shared/r2-s3-signer.ts
  supabase/functions/_shared/r2-storage-service.ts
  supabase/functions/_shared/storage-utils.ts
  supabase/functions/get-download-urls/index.ts
  supabase/functions/get-upload-urls/index.ts
  supabase/functions/upload-bible-chapter-audio-bulk/index.ts
  supabase/functions/upload-bible-chapter-audio/index.ts
  supabase/functions/upload-image/index.ts
  supabase/migrations/20250815030130_add_storage_provider_and_object_key.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: tests
  cloudflare/worker/src/index.ts
  cloudflare/worker/wrangler.toml
  eslint.config.js
  supabase/functions/_shared/cdn-utils.ts
  supabase/functions/_shared/r2-s3-signer.ts
  supabase/functions/get-download-urls/index.ts
  tests/unit/cdn-utils.test.ts
  tests/unit/r2-s3-signer.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: functions deploy cicd
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix: node 20 version fix
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(storage): r2 cdn + by-id url functions; ci worker node; tests
  scripts/api_tests/test-b2-service.js
  scripts/api_tests/test-get-upload-urls.js
  scripts/api_tests/test_bible_chapter_upload.js
  scripts/api_tests/test_bulk_upload.js
  scripts/api_tests/test_download.cjs
  scripts/api_tests/test_image_upload.js
  supabase/functions/get-download-urls-by-id/index.ts
  supabase/functions/get-upload-urls-by-id/index.ts
Due: eslint --fix, prettier --write

fix: normalise base cdn url
  scripts/api_tests/test_get_download_urls_by_id.cjs
  supabase/functions/_shared/cdn-utils.ts
Due: eslint --fix, prettier --write

fix: updated upload and download edge functions to remove remote path references
  supabase/functions/get-download-urls-by-id/index.ts
  supabase/functions/get-upload-urls-by-id/index.ts
  supabase/migrations/20250815050228_drop_remote_path_columns.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: removed remote path migration for now
  supabase/migrations/20250815050228_drop_remote_path_columns.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: linter errors
  scripts/api_tests/test_get_download_urls_by_id.cjs
  supabase/functions/_shared/r2-storage-service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: test setup
  tests/setup.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.17
  package-lock.json
  package.json
Due: prettier --write

fix: fixed cloudflare worker; removed remote_path from images and media files
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  cloudflare/worker/src/index.ts
  cloudflare/worker/tsconfig.json
  cloudflare/worker/wrangler.toml
  package-lock.json
  package.json
  supabase/functions/_shared/r2-s3-signer.ts
  supabase/migrations/20250815050228_drop_remote_path_columns.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash
