Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sql-formatter --config .sqlformatterrc.json --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": ["sql-formatter --config .sqlformatterrc.json --fix"]
}

fix: add database password authentication to workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-types.yml
Due: prettier --write

fix: add --linked flag to supabase gen types commands
  .github/workflows/deploy.yml
  .github/workflows/publish-types.yml
Due: prettier --write

fix: remove invalid --password flag from supabase gen types
  .github/workflows/deploy.yml
  .github/workflows/publish-types.yml
Due: prettier --write

test: verify complete CI/CD workflow
  CI_TEST.md
Due: prettier --write

fix: handle no git tags and clean working directory for npm version
  .github/workflows/publish-types.yml
Due: prettier --write

fix: optimize CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/publish-types.yml
  package.json
Due: prettier --write

fix: grant workflow permissions to push back to repo
  .github/workflows/publish-types.yml
Due: prettier --write

fix: improve CI/CD workflow to handle branch protection rules
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-types.yml
  docs/ci-cd-improved-workflow.md
  docs/ci-cd-troubleshooting.md
Due: prettier --write

test: add test file for commit functionality
  test-commit.md
Due: prettier --write

chore: remove test file
  test-commit.md
Due: prettier --write

feat: add workflow_test_results table to test improved CI/CD pipeline
  supabase/migrations/20250624081332_test_improved_workflow.sql
Due: sql-formatter --config .sqlformatterrc.json --fix

chore: remove test migration file
  supabase/migrations/20250624081332_test_improved_workflow.sql
Due: sql-formatter --config .sqlformatterrc.json --fix

feat: add workflow_test_v2 table to test improved CI/CD pipeline
  supabase/migrations/20250624095604_test_improved_ci_cd_pipeline.sql
  types/database.ts
Due: eslint --fix, prettier --write, sql-formatter --config .sqlformatterrc.json --fix

fix: resolve JavaScript syntax error in GitHub script action
  .github/workflows/publish-types.yml
Due: prettier --write

fix: resolve YAML template literal issues in GitHub issue creation
  .github/workflows/publish-types.yml
Due: prettier --write

feat: clean up test schema and reorganize documentation
  docs/ci-cd-improved-workflow.md
  docs/ci-cd-pipeline.md
  docs/ci-cd-troubleshooting.md
  docs/github-setup-guide.md
  docs/guidelines/ci-cd-pipeline.md
  docs/guidelines/development-setup.md
  docs/guidelines/schema-changes-guide.md
  docs/npm-package-setup.md
  docs/planning/project-setup-checklist.md
  supabase/migrations/20250629061745_cleanup_test_schema.sql
Due: prettier --write, sql-formatter --config .sqlformatterrc.json --fix

feat: implement three-environment CI/CD workflow
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/publish-types.yml
  CI_TEST.md
  README.md
  docs/guidelines/ci-cd-pipeline.md
  docs/guidelines/development-setup.md
  env.example
  package-lock.json
  package.json
  supabase/migrations/20250629063032_create_users_and_roles_system.sql
Due: prettier --write, sql-formatter --config .sqlformatterrc.json --fix

fix: remove redundant type checking from CI
  .github/workflows/ci.yml
Due: prettier --write

fix: use explicit production project reference in publish workflow
  .github/workflows/publish-types.yml
Due: prettier --write

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

1.0.1
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 1.0.2 for NPM publish retry
  package-lock.json
  package.json
Due: prettier --write

feat: improved publish-types workflow to gracefully handle version conflicts to published packages
  .github/workflows/publish-types.yml
Due: prettier --write

fix: fixed publish NPM package workflow - error in CLI multiline output
  .github/workflows/publish-types.yml
Due: prettier --write

chore: bump version to 1.0.3
  package-lock.json
  package.json
Due: prettier --write

fix: fixed publish-types workflow to remove redundant push origin
  .github/workflows/publish-types.yml
Due: prettier --write

chore: bump version to 1.0.4
  package-lock.json
  package.json
Due: prettier --write

fix: update lint-staged config to handle SQL files individually and exclude generated files
  .lintstagedrc.json
  package.json
  supabase/migrations/20250629070000_create_language_region_models.sql
  supabase/seed/language_region_seed.sql
  supabase/seed/seed_users.md
  supabase/seed/seed_users.sql
  types/database.d.ts
  types/database.js
  types/database.ts
Due: eslint --fix, prettier --write, sql-formatter --config .sqlformatterrc.json --fix

chore: bump version to 1.0.5
  package-lock.json
  package.json
Due: prettier --write

feat: add analytics models
  supabase/migrations/20250702070000_create_analytics_system.sql
Due: sql-formatter --config .sqlformatterrc.json --fix

fix: removed incorrect index for geospatial queries
  supabase/migrations/20250702070000_create_analytics_system.sql
Due: sql-formatter --config .sqlformatterrc.json --fix

chore: bump version to 1.0.6
  package-lock.json
  package.json
Due: prettier --write

feat: add EL bible models
  supabase/migrations/20250703070000_create_bible_content_models.sql
Due: sql-formatter --config .sqlformatterrc.json --fix

fix: fixed bible models global book, chapter, verse order functions
  supabase/migrations/20250703070000_create_bible_content_models.sql
  types/database.ts
Due: eslint --fix, prettier --write, sql-formatter --config .sqlformatterrc.json --fix

feat: created OMT record app schema migration
  supabase/migrations/20250704070000_create_recording_app_models.sql
Due: sql-formatter --config .sqlformatterrc.json --fix
