Repository Every-Language/everylanguage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: consolidated views
  supabase/migrations/20250910155238_add_region_id_to_country_analytics_and_cleanup_legacy_views.sql
  supabase/migrations/20250910161804_remove_passages_with_playlist_id_view.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: app downloads view use country code
  supabase/migrations/20250910155238_add_region_id_to_country_analytics_and_cleanup_legacy_views.sql
  supabase/migrations/20250910161804_remove_passages_with_playlist_id_view.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: bbox calculations
  supabase/migrations/20250911163648_update_region_bbox_core_and_dateline.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: code formatting
  scripts/api_tests/test_get_upload_urls_by_id.cjs
Due: none

fix: functions typing
  supabase/functions/ingest-analytics/index.ts
Due: eslint --fix, prettier --write

fix: arraybuffer typing
  supabase/functions/_shared/r2-s3-signer.ts
Due: eslint --fix, prettier --write

chore: update generated database types
  types/database.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.21
  package-lock.json
  package.json
Due: prettier --write

feat: rbac core
  .cursor/rules/instructions.mdc
  docs/guidelines/rbac-and-rls.md
  supabase/config.toml
  supabase/migrations/20250913165958_inline_progress_intermediate_views.sql
  supabase/migrations/20250913170306_rbac_core.sql
  supabase/seed/test/01_test_users/01_seed_test_users.sql
  types/database.ts
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: add rls for rbac
  docs/sharing/01-requirements-and-architecture.md
  docs/sharing/02-bible-package-format.md
  docs/sharing/03-backend-implementation.md
  docs/sharing/04-frontend-implementation.md
  docs/sharing/05-database-sync-strategy.md
  docs/sharing/06-api-specifications.md
  docs/sharing/07-testing-performance-guide.md
  docs/sharing/README.md
  supabase/migrations/20250915035248_rls_parents_children_user_roles.sql
  supabase/seed/production/00_roles_permissions/01_seed_roles_and_permissions.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: rls for permissions tables
  docs/current-to-do.md
  docs/rbac/rbac-and-rls.md
  supabase/migrations/20250917222242_rls_fixes_join_tables_and_insert_policies.sql
  supabase/migrations/20250920172237_rls_lockdown_roles_and_role_permissions.sql
  supabase/seed/production/00_roles_permissions/01_seed_roles_and_permissions.sql
  supabase/seed/test/01_test_users/01_seed_test_users.sql
Due: prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

feat: publish dev types as a separate tag; chore: remove secret files and add ignore
  .github/workflows/publish-types-dev.yml
  .github/workflows/publish-types-prod.yml
  .gitignore
  docs/migration/00-overview.md
  docs/migration/01-schema-mapping.md
  docs/migration/02-storage-keys.md
  docs/migration/03-runbook-dev.md
  docs/migration/04-runbook-prod.md
  docs/migration/05-repeatable-sync.md
  docs/migration/06-sql-helpers.md
  docs/migration/07-language-mapping.md
  docs/migration/08-user-migration.md
  docs/migration/artifacts/README.md
  docs/migration/artifacts/language-mapping.dev.template.csv
  scripts/fetch_omt_translations_dev.cjs
Due: prettier --write

feat: tables for budget
  supabase/migrations/20251027023857_available_languages_sponsorships_finance.sql
  supabase/seed/production/00_roles_permissions/01_seed_roles_and_permissions.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: policies
  supabase/functions/list-available-languages/index.ts
  supabase/functions/project-financials/index.ts
  supabase/migrations/20251027023857_available_languages_sponsorships_finance.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: db
  supabase/migrations/20251027023857_available_languages_sponsorships_finance.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

fix: db 2
  supabase/migrations/20251027023857_available_languages_sponsorships_finance.sql
Due: bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

chore: bump version to 1.0.22
  package-lock.json
  package.json
Due: prettier --write

feat: funding seettings
  supabase/config.toml
  supabase/functions/create-sponsorship-checkout/index.ts
  supabase/functions/crm-lead-intake/index.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20251028072218_funding_settings_and_overrides.sql
  supabase/seed/test/03_test_funding/01_seed_funding_and_adoptions.sql
Due: eslint --fix, prettier --write, bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  bash -c 'for file in "$@"; do sql-formatter --config .sqlformatterrc.json --fix "$file"; done' bash: any of: *.sql
